# Exclude parent directory
../**

# Build artifacts
.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

# Git
**/.git/**
**/.gitattributes
**/.gitignore

# Node
node_modules/**

# Test
test/**
.vscode-test/**

# Misc
.DS_Store
*.vsix
